footer {
    text-align: center;
    background-color: #0e2433;
    padding-bottom: 20px;
    z-index: 2;
    position:relative;
}



.footerLinks {

    display: inline-block;
    font-size: large;
    margin: 30px 80px 20px 80px;
    
}

.footerLink {
    text-decoration: none;
}

.email {
    color :#EC9706;
    font-size: large;
    margin-bottom: 10px;
    margin-top: 0px;
}



.footerText {
    color:#EC9706;
    font-size: large;
    margin: 0;
}