body {
    margin: 0;
    font-size: 20px;
    color:black;
    background-color: #f5f5f5;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

p , ul{
    font-family: 'Prompt', sans-serif;

}

li {
    margin-bottom: 10px;
}

hr {
    border-style: dotted;
    border-bottom: none;
    border-width: 8px;
    width: 5%;
    margin:auto;
    color: grey;
}

h1, h2, h3, h4,h5,h6{ 
    margin-top: 0;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 40px;
   
}



.headers {
    padding-bottom: 40px;
}


.hello{
    margin: 0;
    font-size: 25px;
    
}

.software {
    text-align: center;
}

.Logo {
    height: 95px;
}

.why {
    margin-bottom: 0px;;
}

.Margin {

    
    background-color: #1f45fc;
    position:fixed;
    width: 70px;
    height: 100%;
    z-index:1;
}