#skills {
    padding: 40px 20px 0 20px;
    background-color: #646FD4;
    color: #DBDFFD;
    text-align: center;
}

.skillImages{
    
    position: relative;
    bottom: 20px;
    margin-right: 4%;
    margin-bottom: 30px;
    
}