#welcome {
    background-color: #646FD4;
    margin: 0;
    text-align: center;
    line-height: 2;
    padding: 9.5rem 0;
    
}

.welcomeMessage {
    color: #DBDFFD;
    text-align: left;
    margin: 0 auto;
    display: inline-block;
    width: 31.25rem;
    position: relative;
    bottom: 3.125rem;
    left: 3.125rem;
}

